@model IEnumerable<CRUD.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Branch List</title>
</head>
<body>
    <a href="Branch">Branch</a><br />
    <a href="Home">Home</a><br />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.Raw("First Name")
            </th>
            <th>
                @Html.Raw("Middle Name")
            </th>
            <th>
                @Html.Raw("Last Name")
            </th>
            <th>
                @Html.Raw("Date Hired")
            </th>
            <th>
                @Html.Raw("Employee Image")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateHired)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.EmpImage)" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
